<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form A</title>
</head>
<body>
    <form method="post" data-th-action="@{/weather/forma}">
        <label>City/Country</label>
        <input name="city" type="text" placeholder="Enter city name..."><br>
        <label>Temperature</label>
        <input type="text" name="temperature" placeholder="Enter temperature..."><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>