<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li data-th-each="city: ${countries}">
            <span data-th-text="${city.name}"></span>
            <ul>
                <li data-th-each="unit: ${metrics}">
                    <a data-th-href="@{'/weather/city/' + ${city.name} + '/metrics/' + ${unit} + ''}">
                        <span data-th-text="$(unit)"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>